<h1>Hello Users</h1>
<!-- <app-first-demo [fromParent]="parentMessage" className="container"></app-first-demo> -->
<!-- <h1>{{message}}</h1> -->

<!-- <app-first-demo>(messageEvent)="receiveMessage($event)"</app-first-demo> -->
<!-- <h3>{{messageFromParent}}</h3> -->

<!-- <app-first-demo></app-first-demo> -->

<!-- <app-two-way-data></app-two-way-data> -->

<!-- <app-ng></app-ng> -->
<!-- <app-hello></app-hello> -->

<!-- <button routerLink="Demo">Router Demo</button>
<button routerLink="Hello">Hello</button> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-routes></app-routes> -->


<!-- <button (click)="onClickRouterDemo()">Router Demo</button>
<button (click)="onClickHello()">Hello</button> -->

<!-- <app-routes></app-routes>  -->
